{% extends 'orderbase.html' %}

        {% block body %}

            <p style="text-align:center;"><b>Is this order for delivery or carryout?</b></p>

            <p><a href="{% url 'delinfo' %}" data-role="button" data-theme="a" data-inline="true" data-shadow="false" data-ajax="false" style="width: 100%; text-align: center;">Delivery</a></p>
            <p><a href="{% url 'carryout' %}" data-role="button" data-theme="a" data-inline="true" data-shadow="false" data-ajax="false" style="width: 100%; text-align: center;">Carryout</a></p>

        {% endblock %}